version: "3.9"

services:
  db:
    image: postgres:14.2-alpine
    restart: always
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=pass
      - POSTGRES_DB=postgres_db_name
    volumes:
      - ./pgdata:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning
  backend:
    build: .
    container_name: fastapi-backend
    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONDONTWRITEBYTECODE=1
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASS=pass
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=pass
      - POSTGRES_DB=postgres_db_name
      - POSTGRES_PORT=5433
      - POSTGRES_HOST=db
    restart: on-failure
    volumes:
      - .:/code
    ports:
      - "5000:5000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 5000 --reload
    depends_on:
      - db
      - redis